.description{
    padding: 10px;
}
.profileInfoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
}
.profileInfoContainer>div{
    margin-left: 15px;
}