.description{
    padding: 10px;
}
.profileInfoContainer{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* align-items: center; */
    padding: 15px;
   
}
.profileInfoContainer>div{
    margin-left: 15px;
}
.profileInfoContainer .avatar{
    max-width: 150px;
}
